    A:link {text-decoration: none; color: blue}
    A:visited {text-decoration: none; color: blue}
    A:hover {text-decoration: none; color: blue}
    A:active {text-decoration: none; color: blue}

    BODY {
        font-size:0;
        margin:0;
        padding:0;
        overflow: hidden;
    }
    
    #tijdbalk {
        display: inline-block;
        width: 200px;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none; 
    }
    
    .tijdstip{
        font-size: 16px;
        font-family: Monospace;
        font-weight: bold;
        vertical-align: middle;
        cursor: default;
    }
    
    .tijdstiphead{
        font-size: 16px;
        font-family: Monospace;
        font-weight: bold;
        vertical-align: middle;
        cursor: default;
    }

    .selected_tijdstip{
        font-size: 20px;
        font-family: Arial;
        font-weight: bold;
        text-align: center; 
        cursor: default;
        height: 20px;
        background: #d0d0d0;
    }
    
    .panels {
        display: inline-block;
        vertical-align: top;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none; 
    }
    
    #help {
        display: none;
        position: absolute;
        z-index: 4;
        width: 1000px;
        height: 800px;
        border: solid 1px black;
        background: white;
        opacity: 0.8;
    }
    
    #codes {
        display: none;
        position: absolute;
        z-index: 5;
        width: 520px;
        height: 600px;
        border: solid 1px black;
        background: white;
        opacity: 1.0;
        cursor: move;
    }
    
    .wawacode {
        display: inline-block;
        border: 0.5px solid black;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-family: wawa;
        font-size: 36px;
        text-align: center;
        cursor: default;
    }
    
    #wawaDescription {
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
    
    #parameterList {
        display: none;
        position: absolute;
        z-index: 5;
        width: 400px;
        height: 800px;
        border: solid 1px black;
        background: white;
        opacity: 1.0;
        font-size: 0px;
        text-align: center;
        cursor: move;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none; 
    }
    
    .parameterTitle {
        font-family: Arial;
        font-size: 36px;
        font-weight: bold;
        color: black;
    }

    .parameterListItem {
        display: inline-block;
        border: none;
        width: 190px;
        height: 22px;
        line-height: 18px;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        color: blue;
        cursor: pointer;
        vertical-align: top;
        margin-left: 2px;
        margin-top: 2px;
    }
    
    .emptySpace {
        display: inline-block;
        border: none;
        width: 400px;
        height: 9px;
        line-height: 9px;
        color: white;
    }
    
    .label {
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: 3;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
    }
    
    img {
        vertical-align: middle;
    }
