.tijd {
    display: inline-block;
    border: 0;
    font-size:14px;
    font-family: Arial;
    text-align: center;
    line-height:24px;
}

#station {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
}

.wawacode {
    display: inline-block;
    border: 0;
    font-family: wawa;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 14px;
}
